service cloud.firestore {
  match /databases/{database}/documents {
    match /global/public {
    	allow read;
    }
    match /notes/{note} {
      allow read;
      allow write: if resource.data.author_uid == null || resource.data.author_uid == request.auth.uid;
    }
  }
}
