.color-primary-0 { color: #AA7939 }	/* Main Primary color */
.color-primary-1 { color: #FF9200 }
.color-primary-2 { color: #F3910F }
.color-primary-3 { color: #61513B }
.color-primary-4 { color: #191715 }


div {
  display: flex;
}

body {
  margin: 0;
  background-color: #F3910F;
  color: #191715;
}

#user_photo {
    max-width: 40;
    max-height: 40;
}


#upper_band {
  padding: 8px;
  background-color: #AA7939;
  justify-content: space-between!important;
}

#user_div {
  float: right;
}

#page_content {
  padding: 8px;
  background-color: ;
}
