html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}

#user_photo {
    max-width: 60px;
    max-height: 40px;
}

#user_div {
  float: right;
}
/*
div {
  display: flex;
}

body {
  margin: 0;
  background-color: #F3910F;
  color: #191715;
}


#upper_band {
  padding: 8px;
  background-color: #AA7939;
  justify-content: space-between!important;
}

#user_div {
  float: right;
}

#page_content {
  padding: 8px;
  background-color: ;
}
*/
