{{{{raw}}}}
<h1 class="w3-text-teal">Notes</h1>
<div id="app">
  Hello there!
  <ul v-for="note in notes">
    <a v-bind:href="'note/' + note.id ">{{ note.data.title }} -- {{ note.id }}</a>
  </ul>
</div>
{{{{/raw}}}}
